<%- include header %>
<%- include navbar %>		

<div class="container">
    <div>
        <form action="/users/search" method="post">
            姓名：<input type="text" name="s_username" value="" class="text"> &nbsp;&nbsp;
            电话：<input type="text" name="s_telephone" value="" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"  class="text"> &nbsp;&nbsp;
            <button type="submit" class="glyphicon glyphicon-search" title="查询"></button>
        </form>
        
    </div>
</div>

<div class="container">
<table id="table"
        data-toggle="table"
        data-show-export="false"
        data-pagination="true"
        data-click-to-select="true"
        data-toolbar="#toolbar"
        >
    <thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th>编号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/add" class="glyphicon glyphicon-plus" title="新增">新增</a></th>
    </tr>
    </thead>
    <tbody  align="center">
        <% if (datas.length) { %>
            <% datas.forEach(function(user){ %>
            <tr >
                <td data-checkbox="false"></td>
                <td ><%= user.id %></td>
                <td ><%= user.username %></td>
                <td ><%= user.email %></td>
                <td ><%= user.telephone %></td>
                <td >
                    <div class="btn-group operation">
                        
                        <a data-toggle="modal" data-target="#Modal_users_update" onclick="Values(<%=user.id%>)">修改</a>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">修改</span>
                        <a href="/users/del/<%= user.id %> ">删除</a>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span>
                       
                    </div>
                </td>
            </tr>
            <% }) %>
        <% } %>
    </tbody>	
</table>
</div>
<script>


function Values(ID){
    $("#id").val(ID)
}
</script>

<%- include Modal_users_update %>
<%- include Modal_Contact %>
<%- include footer %>